<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/admin.css">
    <title>관리자 페이지</title>
</head>

<body>
<h1 id="main_title">관리자 페이지</h1>
<p class="menu_select"><a href="/admin/user">유저 데이터 관리</a></p>
<p class="menu_select"><a href="/admin/permission_group">권한 그룹 관리</a></p>
<p class="menu_select"><a href="/admin/url">단축 URL 관리</a></p>
</body>
</html>