* {
    color: white;
}
body {
    background-color: #36393F;
}
tr:nth-child(odd) {
    background-color: #121315;
}
tr:nth-child(even) {
    background-color: #18191c;
}
th {
    background-color: #202225;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 24px;
}
h4, button {
    font-size: 18px;
}
th, td {
    padding: 5px;
    font-size: 15px;
    text-align: left;
    padding-right: 50px;
}
button {
    background-color: #7289da;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.4);
    border-color: transparent;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-color: transparent;
}